/* .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5%;
    align-items: center;
    width :100%;
    height: 60px;
    background-color:rgb(251,81,146) ;
    opacity:0.8;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-bottom: solid 1px rgb(251,81,146);
    margin-bottom: 20px;
    list-style: none;
    list-style-type: none;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

.title{
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #ffff;
}

.icon{
    color: #ffff;
}

.icon:hover {
    cursor: pointer;
  } */

  header{ 
    height:42vh;
    background-color: #009688;

    }
  
  nav {
    padding: 0% 2%;
    background-color: #00455B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav * {
    color: white;
}

/* .header_img {
    margin: auto;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header_img img {
    width: 60%;
    height: 100%;
}

.header_img span {
    justify-self: end;
}  */

.header_img {
  width: inherit;
  height: 37vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.header_info {
  position: absolute;
  right: 0%;
  top: 23vh;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.fa-microphone {
  margin-right: 10px;
}