
.home_country_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
    margin: auto;
    gap: 1vh 1vh;
    margin-top: 5vh;

}

@media screen and (min-width: 600px) {
    .home_country_list {
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

@media screen and (min-width: 900px) {
    .home_country_list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }   
} 