.Regions_container {
    text-align: center; 
    background-color: #009688;
    border:1px solid #00455B;  
    min-height: 70vh;
}

.Regions_container ul{
    list-style: none;
}

.Regions_container li:nth-child(2n+1) {
    background-color: #00455B;
    color: white;
}

.Regions_container li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #00455B;
    color: #00455B;
}

.regions_error {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5vh;
    color: #ffeb3b;
}