@import url("https://fonts.cdnfonts.com/css/Lato");
@import url('http://fonts.cdnfonts.com/css/gill-sans?styles=17576,17577');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  --color: rgb(20 11 11 / 69%);
  --lato-font: 'Lato', 'gill-sans';
}

*,
::before,
::after {
  scroll-behavior: smooth;
}

html {
  font-family: var(--lato-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

body {
  background-color: #5177b3;
}
